* {
    -fx-font-family: "Schoolbell", sans-serif;
}
.menu {
    -fx-background-image: url(../Images/Menu.png);
    -fx-background-size:cover;
}
.endScreen {
    -fx-background-image: url(../Images/Book_background.png);
    -fx-background-size: cover;
}
.button1 {
    -fx-background-image: url(../Images/Button1.png);
    -fx-background-color: transparent;
    -fx-background-size:cover;
    -fx-font-size: 16;
    -fx-pref-width: 120;
    -fx-pref-height: 105;
}
.button2 {
    -fx-background-image: url(../Images/Button2.png);
    -fx-background-color: transparent;
    -fx-background-size:cover;
    -fx-font-size: 16;
    -fx-pref-width: 120;
    -fx-pref-height: 105;
}
.help{
    -fx-background-image: url(../Images/Rules.png);
    -fx-background-size: cover;
}
.button1:hover {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #1055C9, 8, 0.6, 0, 0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.button2:hover {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #1055C9, 8, 0.6, 0, 0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}